
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="phe-nsc-index">Dashboard</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="phe-nsc-reviews">Reviews</a>
    </li>
        <li class="govuk-breadcrumbs__list-item">
      New review
    </li>
  </ol>
</div>



      <div class="govuk-width-container">
        
        <main class="govuk-main-wrapper " id="main-content" role="main">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">New review</h1>
        

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
           Pre-consultation

          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="phe-nsc-nr1" aria-describedby="eligibility-completed">
                Add conditions and dates
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">✓</strong>
              
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="/phe-nsc/phe-nsc-nr3" aria-describedby="read-declaration-completed">
                Upload relevant documents
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">✓</strong>
              
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            Consultation

          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="company-information-completed">
                Upload external review
              </a>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="contact-details-completed">
                Add consultation dates
              </a>
              
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#">
                Collate comments
              </a>
            </li>
            
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            Post-consultation

          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#">
                Upload internal review
              </a>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#">
                Update recommendation
              </a>
            </li>
          </ul>
        </li>
      </ol>

    </div>
  </div>

<button type="submit" class="govuk-button">
  Save and exit
</button>

        </main>
      </div>




{% endblock %}
