
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<p>oh cheers, nice one geezer!</p>

<button type="submit" disabled="disabled" aria-disabled="true" class="govuk-button govuk-button--disabled">
  Nah mate, you can't touch this. 
</button>

<br>

<button type="submit" disabled="disabled" aria-disabled="true" class="govuk-button govuk-button--disabled">
  Not until you go back and tell me how good my site is, you prick.
</button>


<div class="govuk-accordion" data-module="accordion" id="accordion-default">

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          WORLD: Huawei: US charges Chinese telecoms giant with stealing trade secrets
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>Huawei, the Chinese telecommunications giant, was on Monday criminally charged by the US with stealing trade secrets, defrauding banks and obstructing justice.

      State of the Union: Pelosi invites Trump to deliver address on 5 February – live
       Read more
      Matthew Whitaker, the acting attorney general, said grand juries in Seattle and New York had indicted Huawei, its affiliates and its chief financial officer on 23 criminal charges.

      Whitaker said the criminal offending at Huawei went “all the way to the top of the company”.

      Huawei is accused of stealing robot technology from T-Mobile for building smartphones. The company and its chief financial officer, Meng Wanzhou, are also accused of defrauding a bank to get around US economic sanctions on Iran.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          SPORT: England must be tooled up mentally and physically for Dublin battle
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <p class='govuk-body'>It requires little imagination to guess what England can expect in Dublin this Saturday. The Aviva Stadium will be chilly and raucous, the Irish pack will be fired up and the contest both on the floor and in the air will be ferocious. Any similarities with the quiet, sunny and mellow Algarve where England are preparing are not immediately obvious.
<br>
<br>
Of course there are benefits to be had from training in warmer temperatures – it was a pleasant 18C in the Algarve on Monday – but England’s modern history is littered with examples of being caught cold by highly motivated Celts away from Twickenham. Almost eight years have passed since their last Six Nations try in Dublin, a consolation effort from the hooker Steve Thompson in a 25-8 defeat during the Martin Johnson era.
<br>
<br>
England, in fact, have won only once in Dublin since Johnson led England to their grand slam‑clinching victory there in 2003. Since the Five Nations became Six in 2000 every team trailing at half-time in this fixture on Irish soil has subsequently lost the match, a statistic clearly exercising the minds of England’s management. “This is going to be a brutal Test match and you’ve got to get in first,” said John Mitchell, the former All Black head coach now in charge of England’s pack.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          CULTURE: No more Americans? What a new sponsor could mean for the Man Booker prize
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
      <p class='govuk-body'>Previous Man Booker prize winners are among those keenly awaiting the announcement of the new sponsor of the prestigious literary award, after the prize’s sponsor of almost two decades, Man Group, became the latest in a wave of companies pulling out of backing book prizes.
        <br>
        <br>

The hedge fund, which has sponsored the £50,000 literary award since 2002, announced on Sunday that it would end its association with the prize after 2019, which cost them £1.6m a year. On Sunday, the Booker Prize Foundation said that its trustees are already in discussions with a new sponsor “and are confident that new funding will be in place for 2020”.

<br>
<br>

Australian novelist Thomas Keneally, who won the award in 1982 with Schindler’s Ark, told the Guardian on Monday that he hoped the prize’s future would be guaranteed.</p>
    </div>
  </div>

</div>


{% endblock %}
